<div class="wrap">
    <div class="section group">
        <div class="col_1_of_4 span_1_of_4">
            <h4>Thông Tin</h4>
            <ul>
                <li><a href="about.html">Thông Tin Về Q&T Shop</a></li>
                <li><a href="contact.html">Dịch Vụ Khách Hàng</a></li>
                <li><a href="#">Tìm Kiếm Nâng Cao</a></li>
                <li><a href="delivery.html">Đặt Hàng Và Trả Hàng</a></li>
                <li><a href="contact.html">Liên Hệ Với Chúng Tôi</a></li>
            </ul>
        </div>
        <div class="col_1_of_4 span_1_of_4">
            <h4>Tại sao nên chọn T&T Shop </h4>
            <ul>
                <li><a href="about.html">Thông Tin Về Q&T Shop</a></li>
                <li><a href="contact.html">Dịch Vụ Khách Hàng</a></li>
                <li><a href="#">Chính Sách Bảo Mật</a></li>
                <li><a href="contact.html">Bảng Đồ</a></li>
                <li><a href="#">Tìm Kiềm Sản Phẩm</a></li>
            </ul>
        </div>
        <div class="col_1_of_4 span_1_of_4">
            <h4>Tài Khoản</h4>
            <ul>
                <li><a href="contact.html">Đăng Nhập</a></li>
                <li><a href="index.html">Xem Giỏ Hàng</a></li>
                <li><a href="#">Danh Sách Yêu Thích</a></li>
                <li><a href="#">Theo Dõi Đơn Hàng</a></li>
                <li><a href="contact.html">Giúp Đỡ</a></li>
            </ul>
        </div>
        <div class="col_1_of_4 span_1_of_4">
            <h4>Liên Hệ</h4>
            <ul>
                <li><span>0978 460 073</span></li>
                <li><span>0916 964 250</span></li>
            </ul>
            <div class="social-icons">
                <h4>Follow Us</h4>
                <ul>
                    <li><a href="#" target="_blank"><img src="/assets/client/images/facebook.png" alt="" /></a></li>
                    <li><a href="#" target="_blank"><img src="/assets/client/images/twitter.png" alt="" /></a></li>
                    <li><a href="#" target="_blank"><img src="/assets/client/images/skype.png" alt="" /> </a></li>
                    <li><a href="#" target="_blank"> <img src="/assets/client/images/dribbble.png" alt="" /></a></li>
                    <li><a href="#" target="_blank"> <img src="/assets/client/images/linkedin.png" alt="" /></a></li>
                    <div class="clear"></div>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="copy_right">
    <p>Đàm Văn Quân © 2021 - Đại Học Công Nghiệp Hà Nội</p>
</div>