@model List<OnlineShop.Models.CartItem>
<div class="cart">
    <p>
        <span> <a style="text-decoration: none;" href="/gio-hang"> <img src="~/assets/client/images/GioHang.png" />:</a></span><div id="dd" class="wrapper-dropdown-2">
           @Model.Count Sản Phẩm
            <ul class="dropdown">
                <li>Bạn có @Model.Count sản phẩm trong giỏ hàng</li>
                @foreach(var item in Model)
                {
                    <li>@item.Product.Name (@item.Quantity)</li> 
                }
            </ul>
        </div>
    </p>
</div>