@model List<Models.EF.Menu>
<div class="menu">
    <ul>
        @foreach(var item in Model)
        {
            <li><a style="text-decoration:none" href="@item.Link" target="@item.Target">@item.Text</a></li>
        }        
        <div class="clear"></div>
    </ul>
</div>