@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

@section header{
    Trang Slide
}
<div>
   
    <div>

    </div>
    <div> <img style="height:200px" src="~/assets/client/images/timser.gif"/></div>
</div>